# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Model artifacts
backend/*.pkl

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
